# --- Playwright Specific ---
# Test results and artifacts (Screenshots, Videos, Traces)
test-results/
playwright-report/
blob-report/
playwright/.cache/

# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env*

# --- Testing / Coverage ---
.pytest_cache/
.coverage
htmlcov/

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# TOKEN
.token_info.json

# SCREENSHOTS
screenshots/

# USER DATA
user_data/
user_data_*/
# LOGS
logs/

# .SVC
.svc/
token_info.json

# build files
build/
dist/
*.egg-info/
*.whl
__pypackages__/
*.c

**.zip
**Untitled-1.css
.venv312/