version: '3.8'
services:

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - .:/app
    environment:
      - NODE_ENV=development
  
  db:
    image: postgres:15
    ports:
      - "5436:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fulfillment
    volumes:
      - postgres_data2:/var/lib/postgresql/data

volumes:
  postgres_data2:

